.App {
  width: 100vw;
  height: 100vw;
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: rgb(71, 187, 94);
}

.footer {
  display: block;
  background-color: #095647 !important;
}

.footerLink {
  color: white;
  text-decoration: none;
  margin: 5px 15px;
}

.login-wrapper {
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 15px;
  width: max-content;
}

.loginButton {
  background-color: #095647;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border-color: #033121;
  width: 10vw;
  margin: 5px 0;
  text-decoration: none;
}

.loginInput {
  width: 20vw;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}
